<!-- footer -->
<div class="preloader">
   <div class="status">
       <div class="spinner-border avatar-sm text-primary m-2" role="status"></div>
   </div>
 </div>
<footer class="footer">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 mb-1 mb-md-0">
            <span><span id="date">2022</span> &copy; Marvel.</span>
         </div>
         <div class="col-md-6 text-md-end">
            <span>Design and Develop By <span class="text-primary font-weight-500">Lettstart Design</span></span>
         </div>
      </div>
   </div>
</footer>

<div class="setting-sidebar">
   <div class="card mb-0">
      <div class="card-header">
         <h5 class="card-title dflex-between-center">
            Layouts
            <a href="javascript:void(0)"><i class="mdi mdi-close fs-sm"></i></a>
         </h5>
      </div>
      <div class="card-body">
         <div class="layout">
            <a href="index-horizontal.html">
               <img src="assets/images/horizontal.png" alt="Lettstart Admin" class="img-fluid"/>
               <h6 class="fs-16">Horizontal Layout</h6>
            </a>
         </div>
         <div class="layout">
            <a href="index.html">
               <img src="assets/images/vertical.png" alt="Lettstart Admin" class="img-fluid" />
               <h6 class="fs-16">Vertical Layout</h6>
            </a>
         </div>
         <div class="layout">
            <a href="layout-dark-sidebar.html">
               <img src="assets/images/dark.png" alt="Lettstart Admin" class="img-fluid" />
               <h6 class="fs-16">Dark Sidebar</h6>
            </a>
         </div>
      </div>
   </div>
</div>