<!-- ================== BEGIN APP CSS  ================== -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/styles.min.css" />
<!-- ================== END APP CSS ================== -->

<!-- ================== BEGIN POLYFILLS  ================== -->
<!--[if lt IE 9]>
   <script src="assets/libs/html5shiv/js/html5shiv.js"></script>
   <script src="assets/libs/respondjs/js/respond.min.js"></script>
<![endif]-->
<!-- ================== END POLYFILLS  ================== -->