<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="MatrrDigital">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="noindex, nofollow">
<title>@@title | Marvel - Responsive Admin Dashboard Template</title>
<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />

<!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
<link rel="stylesheet" href="assets/css/icons.css" />
<link rel="stylesheet" href="assets/libs/wave-effect/css/waves.min.css" />
<link rel="stylesheet" href="assets/libs/owl-carousel/css/owl.carousel.min.css" />
<!-- ================== BEGIN PAGE LEVEL END ================== -->